/* src/pages/MyInfo/MyProfile.css */

/* Container margin top */
.my-profile-container {
    margin: 50px 0px;
  }
  
  /* Card styles */
  .my-profile-card {
    border-radius: 8px;
  }
  
  .my-profile-card-header {
    background-color: var(--color-primary) !important; /* Màu nền Bootstrap cho thẻ header */
    color: white !important;
    text-align: center;
  }
  
  .my-profile-avatar {
    max-width: 150px; /* Đảm bảo ảnh không quá lớn */
    border-radius: 50%;
  }
  
  .my-profile-title {
    color: var(--color-secondary); /* Màu chữ tiêu đề */
  }
  
  /* Avatar container */
  .my-profile-avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .my-profile-card-footer {
    background-color: #f8f9fa; /* Màu nền sáng cho thẻ footer */
  }
  
  .my-profile-edit-btn {
    background-color: var(--color-primary); /* Màu nút chỉnh sửa */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .my-profile-edit-btn:hover {
    background-color: var(--color-secondary); /* Màu nút chỉnh sửa khi hover */
    color:var(--color-primary);
  }
  