.sidebar {
    background-color: var(--color-primary);
    color: #ecf0f1;
    transition: all 0.3s;
   
    
  }
  
  .sidebar .nav-link {
    color: #ecf0f1;
    padding: 10px 15px;
    transition: all 0.3s;
  }
  
  .sidebar .nav-link:hover,
  .sidebar .nav-link.active {
    background-color: #B3E3FF;
    color: var(--color-primary);
  }
  
  .sidebar .nav-link i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
  }
  
  .sidebar-logo {
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(--color-primary);
    z-index: 1;
  }
  
  .sidebar-logo img {
    max-width: 80%;
    height: auto;
  }
  
  .sidebar-logout {
    position: sticky;
    bottom: 0;
    padding: 15px;
    background-color: var(--color-primary);
  }
  
  .sidebar-logout button {
    width: 100%;
    background-color: #e74c3c;
    border: none;
    color: #ecf0f1;
    transition: all 0.3s;
  }
  
  .sidebar-logout button:hover {
  background-color: #c0392b;
}
#sidebar{
    width: 250px; /* hoặc bất kỳ chiều rộng nào bạn muốn */
    height: 100vh;
    background-color: var(--color-primary);
    color: #ecf0f1;
    transition: all 0.3s;
    overflow-y: auto;
    position: sticky;
    top: 0;
}
#sidebar .nav-link{
    /* padding-left: 1.5vw; */
}
