.custom-payment-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .custom-success-message {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-success-message h1 {
    color: #28a745;
    margin-bottom: 20px;
  }
  
  .custom-success-message p {
    margin-bottom: 30px;
  }