body {
    background-color: white;
}

.navbar,
.footer {
    background-color: var( --color-primary);
}

.navbar .nav-link {
    color: white;
}
.text{
    font-weight: bold;
}
.navbar{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* Header */
.navbar-dark{
    padding : 0!important;
    line-height: 1.8;
}
.header-info {
    padding: 0.75rem 0;
}

.header-info div {
    font-size: 0.9rem;
    color: var(--color-secondary);
}



.user-icon i {
    font-size: 2rem;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
}

.user-icon i:hover {
   
    transform: scale(1.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.user-icon i:active {
    transform: scale(1); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}



.contact-title {
    color: #6C7A9C;
}

.contact-info .card {
    background-color: #EBF1FB;
}

.contact-info .card-dark {
    background-color: #2C3A5B;
    color: white;
}

.footer {
    padding: 2rem 0 0rem 0;
    color: white;
    
}
.footer p{
    font-size: 14px;
}
.footer a {
    color: white;
}


/* 
.input-group {
    background-color: var(--color-accent);
    border-radius: 0.75rem; 
    padding: 3px; 
    max-width: 240px; 
}

input.form-control {
    border: none; 
    background: transparent;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 0.9em;
   
} */

button.btn-submit {
    background: none;
    border: none;
    color: var(--color-primary); 
 
}

button.btn-submit i {
    font-size: 1.2em; 
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
  /* background: linear-gradient(135deg ,var(--color-secondary),#1F2B6C);  */
  background-color: #b1bede;
  color: rgb(2, 23, 98) !important; /* Màu cam nhạt cho chữ */
  font-weight: 500;
  /* padding: 5px 10px; */
  /* border-radius: 4px; */
  transition: all 0.3s ease;
}
