body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem; 
    height: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0; 
}


.sb {
    background-color: #f4f4f4;
    padding: 1.25rem; 
    height: 100vh; 
    box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.1); /* Chuyá»ƒn px sang rem */
}

.sb h1 {
    text-align: center;
    font-size: 1.5rem; 
    margin-bottom: 2rem; 
}

.sb ul {
    list-style-type: none;
    padding: 0;
}

.sb ul li {
    margin: 1rem 0;
}

.sb ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    display: block;
    padding: 0.625rem 1rem; 
    border-radius: 0.25rem;
    transition: background 0.3s;
}

.sb ul li a:hover {
    background-color: #ddd;
}


.mc {
    padding: 2rem; 
}

.hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem; 
}


.ct {
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}


.cs p {
    margin: 0.5rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}

table, th, td {
    border: 0.0625rem solid #ddd;
}

th, td {
    padding: 0.75rem;
    text-align: center;
}

.asss{
    margin-top: 1.25rem;
}

.ct h6{
    font-weight: bolder;
}

.cs{
    margin-top: 2rem;
}

.tbr {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #f7f7f7; 
    padding: 1vh 3vw;
    border-bottom: 0.1vh solid #ddd; 
}


.scn {
    display: flex;
    align-items: center;
    border: 0.1vh solid #ddd; 
    border-radius: 2vw; 
    overflow: hidden; 
    width: 20vw; 
    max-width: 20vw; 
}

.scn .search-input {
    border: none; 
    padding: 0.8vh 1.2vw; 
    outline: none; 
    width: 100%; 
}

.scn .search-input::placeholder {
    color: #aaa;
}

.scn .search-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.8vh; 
}

.scn .search-button img {
    width: 2vh; 
    height: 2vh;
}

.mnic {
    display: flex;
    align-items: center;
    gap: 1.5vw; 
}

.mnic .ic {
    font-size: 2vh; 
    cursor: pointer;
}