.custom-service-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-img-fluid {
    width: 100%;
    height: 200px;
    display: block !important; /* Ensures the image is treated as a block element */
    object-fit: cover !important; /* Ensures the image covers the container without stretching */
  }
  
  .custom-price-info {
    font-size: 0.9rem;
    color: #555;
  }