/* Custom styles for KoiDetail component */

.koi-detail-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.koi-detail-form-group {
  margin-bottom: 15px;
}

.koi-detail-form-group label {
  font-weight: bold;
  color: #555;
}

.koi-detail-form-group input,
.koi-detail-form-group select,
.koi-detail-form-group textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}
.description-container{
  min-height: 30vh !important;
}
.koi-detail-button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.koi-detail-button-group .btn {
  border-radius: 4px;
  padding: 10px 20px;
}

.koi-detail-image {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;

}
.koi-profile-image{

  height: 240px;
  object-fit: cover;
}
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--color-primary); /* Màu nền */
  color: white; /* Màu chữ */
  border-radius: 5px; /* Bo góc */
  text-align: center; /* Căn giữa chữ */
}

.custom-file-upload input {
  display: none; /* Ẩn input file gốc */
}

